# Environment variables
.env

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE/project files
.vscode/
.idea/

trade_alerts.json